/* default */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
}

nav,
footer,
header,
aside {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

input,
button {
    outline: none;
    font-style: inherit;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
/* Styles for layout */
.section {
    padding: 90px 0px;
}

.section_g {
    background-color: rgb(235, 235, 235);
}

.container {
    padding: 0px 15px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* header */
.header {
    border-bottom: 1px solid #ddd;
}

.header .header-wrapper {
    display: flex;
    height: 60px;
    align-items: center;
}

.header-up {
    border-bottom: 1px solid #ddd;
    display: none;
}

.header-up-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.logo {
    flex-grow: 1;
}

.logo__img {
    width: 140px;
    height: 22px;
}

.navigation {
    display: flex;
    align-items: inherit;
    flex-grow: 1;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    flex-basis: 500px;
    margin-right: 50px;
}

.navigation__link {
    color: #4C5866;
}

.navigation__buttons {
    display: flex;
    justify-content: space-between;
    width: 80px;
}


/* banner */
.banner {
    padding: 130px 0px 120px 0px;
    width: 100%;
}

.header-banner {
    background: url('/img/home-slide-background.png') 0 0 no-repeat;
    background-position: 40%;
}

.banner__content {
    max-width: 442px;
}
.banner__text {
    margin: 30px 0px;
}

.banner__button {
    width: 255px;
    height: 70px;
    padding: 20px 50px;
    border: 1px solid #7875FE;
    display: flex;
    justify-content: center;
}


/* content */

/* result list */
.information-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

.result-card {
    width: 100%;
    margin-bottom: 40px;
    max-width: 290px;
    min-width: 150px;
    padding-top: 20px;
    align-items: center;
    border-top: 1px solid #C0C0C0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.result-item__image {
    width: 160px;
    height: 118px;
}

.item-card__text {

    width: 120px;
}

/*information-content*/
.information-content {
    display: flex;
    margin-top: 60px;
    height: 100%;
    justify-content: space-between;
}

.information-content__img {
    width: 80%;
    max-width: 500px;
    max-height: 700px;
}

.information-content__text {
    padding: 10% 0px 0px 0px;
    width: 330px;
}
.information-content__heading{
    line-height: 40px;
}

.information-content__p {
    padding-top: 20px;
    line-height: 25px;
}

/* product-cards */
.product-categories {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

.product-type {
    width: 240px;
    margin-bottom: 40px;
}

.product-type__img {
    width: 100%;
    height: 180px;
}

.product-type__heading {
    margin: 20px 0px 10px 0px;
}

.product-type__quantity {
    margin-bottom: 10px;
}

.product-type__description {
    height: 160px;
}

.product-type__more-link {
    display: flex;
    align-items: center;
}

.more-link__arrow {
    padding: 10px 10px 0px 0px;
}

/* brands */
.brands {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
}

.brand-item {
    border: 1px solid #C4C4C4;
    padding: 40px 10px;
    width: 240px;
    margin-bottom: 40px;
}

.brand-item__img {
    width: 100%;
    height: 55px;
}

/* footer banner */
/* footer */
.footer-up {
    border-bottom: 1px solid #DDDDDD;
    display: none;
}

.footer-body {
    background-color: #4C5866;
    width: 100%;
    height: 80px;
}

.footer-banner__content {
    width: 350px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 0px 30px;
    line-height: 70px
}

.media {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

/* footer-down */
.footer-down {
    text-align: center;
}


/* media */
@media (max-width : 690px) {

    /* header */
    .header-up {
        display: block;
    }

    .header-down {
        display: none;
    }

    /* header-banner */
    .banner__content {
        max-width: 290px;
    }

    .information-content {
        flex-wrap: wrap;
    }

    .information-content .information-content__text {
        width: 100%;
        padding: 0px;
    }

    .navigation {
        justify-content: center;
    }

    .navigation__list {
        justify-content: space-around;
        margin: 0px;
    }


    /* products */
    .product-categories .product-type {
        width: 280px;
    }
}

@media (max-width : 510px) {
    .information-content {
        margin-top: 0px;
    }

    .information-content__img {
        margin: 0 auto;
    }

    .banner__button {
        width: 196px;
        height: 60px;
    }
    
}
@media (max-width : 440px) {
    .navigation {
        justify-content: end;
    }

    .header-up {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header-up::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }

    .header-up-body {
        position: relative;
        z-index: 2;
        justify-content: center;
        top: 0;
        left: 0;
        align-items: center;
    }

    .header {
        position: fixed;
        width: 100%;
        top: 40px;
        left: 0;
        z-index: 1;
        background-color: white;
    }

    .header-wrapper {
        display: block;
    }

    /* burger */
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 40
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 16px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        top: 16px;
    }

    .header__burger.active span {
        transform: scale(0);
        top: 16px;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: #4C5866;
        position: absolute;
        width: 22px;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 6px;
    }

    .header__burger::after {
        bottom: 5px;
    }

    .header__burger span {
        position: absolute;
        background-color: #4C5866;
        left: 0;
        width: 22px;
        height: 2px;
        top: 14px;
        transition: all 0.3s ease 0s;
    }

    .navigation__list {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(235, 235, 235);
        padding: 130px 30px 0px 30px;
        display: block;
    }

    .navigation__list.active {
        top: 0;
    }

    .navigation__link {
        width: 100%;
        display: block;
        margin-bottom: 50px;
    }

    .navigation__buttons {
        display: none;
    }

    .header-buttons {
        display: flex;
        justify-content: space-between;
    }

    .banner__heading {
        width: 280px;
    }

    .footer-logo {
        display: none;
    }

    .footer {
        justify-content: center;
    }

    .footer-up {
        display: flex;
        padding: 10px 30px 0px 30px;
        line-height: 70px
    }

    .footer-up__logo {
        text-align: center;
    }

    .banner__button {
        width: 144px;
        height: 50px;
        padding: 12px 40px;
    }

    .footer-banner__content {
        width: 300px;
    }
    .product-type__description {
        height: 110px;
    }
}

p{
    line-height: 25px;
}